
<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
	
    <section class="banner-home-2">
        
        <img src="/images/variados-hojas.jpg" alt="Huära Chocolates" width="100%">
        
        <a href="/listados/listadoproductos">
        <div>
            <ul class="list-banner">
                <li>Listado de productos</li>
            </ul>
        </div>
        </a>

        <a href="/listados/listadousuarios">
        <div>
            <ul class="list-banner-2">
                <li>Listado de usuarios</li>
            </ul>
        </div>
        </a>
    </section>


	

    <%- include('../partials/footer') %>
</body>
</html>