<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <main class="login">
        <h2 class="title-login">Formulario de creación de productos</h2>
        <br>
        <section>
            <div class="formulario">
            <form action="/login" method="POST">
                <p class="campo">
                <label for="productName"class="label">Nombre de producto</label>
                <input type="text" name="productName" id="productName" class="input" placeholder="Nombre del chocolate" style="font-style:italic; font-size: 12px">
                </p>
                <br>
                <p class="campo">
                <label for="productDescription"class="label">Descripción</label>
                <input type="text" name="productDescription" id="productDescription" class="input" placeholder="Descripción" style="font-style:italic; font-size: 12px">
                </p>
                <br>
                <p class="campo">
                <label for="productImage" class="label">Imagen</label>
                <input type="file" name="productImage" id="productImage" class="input" placeholder="Seleccione la imagen" style="font-style:italic; font-size: 12px">
                </p>
                <br>
                <p class="campo">
                <label for="productCategory"class="label">Categoría</label>
                <select name="productCategory" class="label">
                    <option disabled selected>Seleccioná una opción</option>
                    <option value="Trufas" class="input">Trufas</option>
                    <option value="Chocolates" class="input">Chocolates</option>
                    <option value="Tabletas" class="input">Tabletas</option>
                </select>
                </p>
                <br>
                <p class="campo">
                    <label for="productPrice" class="label">Precio ARS $</label>
                    <input type="number" name="productPrice" id="productPrice" class="input" placeholder="ARS $" step="0.01" style="font-style:italic; font-size: 12px">
                    </p>
                <p>
                <br>
                <button type="submit" class="button">CARGAR</button>
                </p>
                <a href="/crearproducto"><p class="observation">Borrar formulario</p></a>
            </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>