<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <!-- <div class="alert container position-sticky top-0 alert-primary hide" role="alert">
        Producto Añadido al carrito!
    </div>

    <div class="alert container position-sticky top-0 alert-danger remove" role="alert">
        Producto removido!
    </div> -->


    <main>
        <section>
            <div class="head-carrito">
                <img src="/images/genericas/taza-chocolate-partido-corto.jpg" class="head-carrito-image">
                <div class="titulo-carrito"> Carrito.</div>
            </div>
        </section>


        <br>
      <table class="table table-dark table-hover">
        <thead>
          <tr class="text-primary">
            <th scope="col">Producto</th>
            <th scope="col">Descripción/th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>

        <tbody class="tabla-body" id="tbody">

          
         
                 
        
          
        </tbody>
        
      </table>
      <br><br>


      <div class="row mx-4">
        <div class="col">
          <h3 class="itemCartTotal text-white">Total: 0</h3>
        </div>
        <div class="col d-flex justify-content-end">
          <button class="btn btn-success">COMPRAR</button>
        </div>
      </div>
      

        <section class="section-product-carrito">
            <div class= "todos-productos-carrito">
                <article class="product-carrito">
                    <div>
                        <img src= "images/products/frambuesa.jpg" alt = "Chocolate con frambuesa" class="product-img-carrito">
                    </div>
                    <div class= "product-box-carrito">
                        <h4 class="descripcion-carrito">TABLETA FRAMBUESAS 100gr</h4>
                        <h4 class="descripcion-carrito">$550,00</h4>
                        <div class="cantidad-producto">
                            <i class="fas fa-minus"></i>
                            <h4 class="cantidad">2</h4>
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class="total">
                            <h4 class="descripcion-carrito">Total</h4>
                            <h4 class="descripcion-carrito">$1100,00</h4>
                        </div>
                        <i class="fas fa-trash"></i>
                    </div> 
                </article>

                <article class="product-carrito">
                    <div>
                        <img src= "images/products/marroc.jpg" alt = "Marroc" class="product-img-carrito">
                    </div>
                    <div class= "product-box-carrito">
                        <h4 class="descripcion-carrito">MARROC 100gr</h4>
                        <h4 class="descripcion-carrito">$550,00</h4>
                        <div class="cantidad-producto">
                            <i class="fas fa-minus"></i>
                            <h4 class="cantidad">2</h4>
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class="total">
                            <h4 class="descripcion-carrito">Total</h4>
                            <h4 class="descripcion-carrito">$1100,00</h4>
                        </div>
                        <i class="fas fa-trash"></i>
                    </div> 
                </article>

                <article class="product-carrito">
                    <div>
                        <img src= "images/products/pistacho.jpg" alt = "Marroc" class="product-img-carrito">
                    </div>
                    <div class= "product-box-carrito">
                        <h4 class="descripcion-carrito">PISTACHO 100gr</h4>
                        <h4 class="descripcion-carrito">$550,00</h4>
                        <div class="cantidad-producto">
                            <i class="fas fa-minus"></i>
                            <h4 class="cantidad">2</h4>
                            <i class="fas fa-plus"></i>
                        </div>
                        <div class="total">
                            <h4 class="descripcion-carrito">Total</h4>
                            <h4 class="descripcion-carrito">$1100,00</h4>
                        </div>
                        <i class="fas fa-trash"></i>
                    </div> 
                </article>

                <div class="pagar">
                    <div>
                        <h4 class="descripcion-carrito">6 Productos</h4>
                        <h4 class="descripcion-carrito">Total a pagar</h4>
                        <h4 class="descripcion-carrito">$3300,00</h4>
                    </div>
                    <div class="boton-compra">
                        <h4 class="descripcion-carrito">Terminar compra</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>

    



    <%- include('../partials/footer') %>

    <script src="./js/cart.js"></script>

 </body>
 
</html>