<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 

    <main class="login">
        <h2 class="title-login">Formulario de edición de productos</h2>
        <br>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>