<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffa5e38f99.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Huära Chocolates</title>
</head>

<body>
    
    <header>
        <div class="box-header">
            <img src="images\logo-fondo-blanco.png" alt="" class="logo-header">
            <a href="#" class="hamburger-header">
                <i class="fas fa-align-left"></i>
            </a>
            <ul class="nav-bar-header">
                <li ><i class="fas fa-home"> </i><a  href="/">    Home</a></li>
                <li><i class="fas fa-box"> </i><a href="/productos">   Productos</a></li>
                <li><i class="fas fa-shopping-bag"></i> <a href="/carrito">   Mis Compras</a></li>
                <li><i class="fas fa-door-open"></i> <a href="/login">   Login</a></li>
                <li><i class="fas fa-sign-in-alt"></i> <a href="/registro">   Registrate</a></li>     
            </ul>
        </div>
    </header>
    
    <section class="banner-home-1">
        <div class="banner-izquierda-1">
            <img src="/images/presentacion-caja.png" alt="Huära Chocolates">
        </div>
        <div class="banner-derecha-1">
                <img src="/images/logo-huara-sinfondo.png" alt="Huära Chocolates">
        </div>
        <div class="banner-derecha-1">
        <h3>Trufas, tabletitas y chocolates tipo Bariloche a elección. Podés elegir las dulzuras que más te gusten, creadas y elaboradas a mano en San Juan, con la mejor materia prima.</h3>
        </div>
    </section>

    <section class="banner-home-2">
        
        <img src="/images/variados-hojas.jpg" alt="Huära Chocolates" width="100%">
        
        <div>
            <ul class="list-banner">
                <li>Verdadero</li>
                <li>Chocolate Andino</li>
            </ul>
        </div>
        <div>
            <ul class="list-banner-2">
                <li>Trufas</li>
                <li>Chocolates</li>
                <li>Tabletas</li>
            </ul>
        </div>
    </section>


    <section class="banner-home-3">
        <div class="img-newsletter">
            <img src="/images/genericas/taza-chocolate-partido.jpg" alt="Huära Chocolates">
        </div>
        <div class="newsletter">
            <form action="/login" method="POST">
                <div class="email-newsletter">
                <label for="email">¡Recibí las promociones más dulces!</label>
                <input type="email" name="email" id="email" placeholder="ejemplo@gmail.com" style="font-style:italic; font-size: 20px">
                </div>
            </form>
            <img src="/images/logo-figuras-2.png" alt="Huära Chocolates">
        </div>
    </section>

    <footer class="main-footer">
        <div class="main-footer-top-bar">
            <img src="/images/logo-huara-mix-sinfondo.png" class="logo-huara-footer" alt="logo-huara">
        </div>
    
        <nav class="main-nav-bar">
            <ul class="inside-navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registro">Registro</a></li>
                <li><a href="/carrito">Mis compras</a></li>
                <li><a href="#">Contactanos</i></a></li>
            </ul>
        </nav>
        <div class="icons">
            <i class="fab fa-whatsapp-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fas fa-envelope-square"></i>
        </div>
    
        <article class="copyright">
            <p>Copyright © 2021 Huära Chocolate Andino</p>
        </article>
    
     </footer>     
    
</body>

</html>