<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffa5e38f99.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Huära Chocolates</title>
</head>

<body>
    
    <header>
        <div class="box">
            <img src="images\logo-fondo-claro.png" alt="" class="logo">
            <a href="#" class="hamburger">
                <i class="fas fa-align-left"></i>
            </a>
            <div class="search-bar"></div>
            <ul class="nav-bar">
                <li><a href="">Home</a></li>
                <li><a href="">Productos</a></li>
            </ul>
            <ul class="nav-bar2">
                <li><a href="">Login</a></li>
                <li><a href="">Registrate</a></li>
                <li><a href="">Mis Compras</a></li>
            </ul>
        



        </div>
    </header>
    


    <section class="banner-home">
        <div>
            <img src="/images/cardo.png" alt="Huära Chocolates" class="expand-display">
        </div>
        <div>
            <img src="/images/variados-hojas.jpg" alt="Huära Chocolates" class="expand">
        </div>
        <div>
            <img src="/images/sol.png" alt="Huära Chocolates" class="expand-display">
        </div>
    </section>


    <section class="banner-home">
        <div>
            <img src="/images/genericas/taza-chocolate-partido.jpg" alt="Huära Chocolates" class="expand">
        </div>
            
        <div class="text-banner-home">
            <h3>HUÄRA</h3>
            <h3>CHOCOLATE ANDINO</h3>
        </div>
    </section>

    <footer class="main-footer">
        <div class="main-footer-top-bar">
            <img src="/images/logo-huara-mix-sinfondo.png" class="logo-huara-footer" alt="logo-huara">
        </div>
    
        <nav class="main-nav-bar">
            <ul class="inside-navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Registro</a></li>
                <li><a href="#">Mis compras</a></li>
                <li><a href="#">Contactanos</i></a></li>
            </ul>
        </nav>
        <div class="icons">
            <i class="fab fa-whatsapp-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fas fa-envelope-square"></i>
        </div>
    
        <article class="copyright">
            <p>Copyright © 2021 Huära Chocolate Andino</p>
        </article>
    
     </footer>     
    
</body>

</html>