<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffa5e38f99.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Huära Chocolates</title>
</head>

<header>
    <div class="box">
        <img src="images\logo-fondo-claro.png" alt="" class="logo">
        <a href="#" class="hamburger">
            <i class="fas fa-align-left"></i>
        </a>
        <div class="search-bar"></div>
        <ul class="nav-bar">
            <li><a href="">Home</a></li>
            <li><a href="">Productos</a></li>
        </ul>
        <ul class="nav-bar2">
            <li><a href="">Login</a></li>
            <li><a href="">Registrate</a></li>
            <li><a href="">Mis Compras</a></li>
        </ul>
        



    </div>
</header>


</html>