<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ffa5e38f99.js" crossorigin="anonymous"></script>
    <title>Login - Huära Chocolates</title>
</head>
<body>
    <header>
        <div class="box">
            <img src="images\logo-fondo-blanco.png" alt="" class="logo-header">
            <a href="#" class="hamburger">
                <i class="fas fa-align-left"></i>
            </a>
           
            <ul class="nav-bar">
                <li ><i class="fas fa-home"> </i><a  href="/">    Home</a></li>
                <li><i class="fas fa-box"> </i><a href="/productos">   Productos</a></li>
                <li><i class="fas fa-shopping-bag"></i> <a href="/carrito">   Mis Compras</a></li>
                <li><i class="fas fa-door-open"></i> <a href="/login">   Login</a></li>
                <li><i class="fas fa-sign-in-alt"></i> <a href="/registro">   Registrate</a></li>
                
            </ul>
        



        </div>
    </header>
    <main class="login">
        <h2 class="title-login">¿Ya estás registrado?</h2>
        <section>
            <div>
                <p class="title-login-2">Ingresá a tu cuenta</p>
            </div>
            <div class="formulario">
            <form action="/login" method="POST">
                <p class="campo">
                <label for="email"class="label">Dirección de correo electrónico</label>
                <input type="email" name="email" id="email" class="input" placeholder="ejemplo@gmail.com" style="font-style:italic; font-size: 12px">
                </p>
                <p class="observation">* Campo obligatorio</p>
                <p class="campo">
                <label for="password" class="label">Contraseña</label>
                <input type="password" name="contrasenia" id="password"class="input" placeholder="Ingresá tu contraseña" style="font-style:italic; font-size: 12px">
                </p>
                <p class="observation">* Campo obligatorio</p>
                <p>
                <button type="submit" class="button">INGRESAR</button>
                </p>
                <p class="observation">¿Olvidaste tu contraseña?</p>
            </form>
            </div>
        </section>
        <section>
            <div>
                <p class="title-login-2">¿No tenés cuenta?</p>
                <form>
                    <p>
                        <button type="submit" class="button button2" >CREAR MI CUENTA</button>
                    </p>
                </form>
            </div>
        </section>
    </main>
    <footer class="main-footer">
        <div class="main-footer-top-bar">
            <img src="/images/logo-huara-mix-sinfondo.png" class="logo-huara-footer" alt="logo-huara">
        </div>
    
        <nav class="main-nav-bar">
            <ul class="inside-navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registro">Registro</a></li>
                <li><a href="/carrito">Mis compras</a></li>
                <li><a href="#">Contactanos</i></a></li>
            </ul>
        </nav>
        <div class="icons">
            <i class="fab fa-whatsapp-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fas fa-envelope-square"></i>
        </div>
    
        <article class="copyright">
            <p>Copyright © 2021 Huära Chocolate Andino</p>
        </article>
    
     </footer>
</body>
</html>