<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ffa5e38f99.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Carrito - Huära Chocolates</title>
    </head>
<body>

<footer class="main-footer">
    <div class="main-footer-top-bar">
        <img src="/images/logo-huara-sinfondo.png" class="logo-huara-footer" alt="logo-huara">
    </div>

    <nav class="main-nav-bar">
        <ul class="inside-navbar">
            <li><a href="#">Home</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Registros</a></li>
            <li><a href="">Mis compras</a></li>
            <li><a href="">Contactanos</i></a></li>
        </ul>
    </nav>
    <div class="icons">
        <i class="fab fa-whatsapp-square"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fas fa-envelope-square"></i>
    </div>

    <article class="copyright">
        <p>Copyright © 2021 Huära Chocolate Andino</p>
    </article>
 </footer>

 <footer class="main-footer-2">
    <div class="main-footer-top-bar-2">
        <img src="/images/logo-texto-marron.png" class="logo-huara-footer" alt="logo-huara">
    </div>

    <div class="icons">
        <i class="fab fa-whatsapp-square"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fas fa-envelope-square"></i>
    </div>

    <nav class="main-nav-bar-2">
        <ul class="inside-navbar-2">
            <li><a href="#">Home</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Registros</a></li>
            <li><a href="">Mis compras</a></li>
            <li><a href="">Contactanos</i></a></li>
        </ul>
    </nav>
    

    <article class="copyright">
        <p>Copyright © 2021 Huära Chocolate Andino</p>
    </article>
 </footer>








</body>
 
</html>