<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ffa5e38f99.js" crossorigin="anonymous"></script>
    <title>Productos - Huära Chocolates</title>
</head>
<body>
    <header>
        <div class="box">
            <img src="images\logo-fondo-blanco.png" alt="" class="logo-header">
            <a href="#" class="hamburger">
                <i class="fas fa-align-left"></i>
            </a>
           
            <ul class="nav-bar">
                <li ><i class="fas fa-home"> </i><a  href="/">    Home</a></li>
                <li><i class="fas fa-box"> </i><a href="/productos">   Productos</a></li>
                <li><i class="fas fa-shopping-bag"></i> <a href="/carrito">   Mis Compras</a></li>
                <li><i class="fas fa-door-open"></i> <a href="/login">   Login</a></li>
                <li><i class="fas fa-sign-in-alt"></i> <a href="/registro">   Registrate</a></li>
                
            </ul>
        



        </div>
    </header>
    <main>
        <section>
            <div class="head-products">
                <h3 class="titulo"> Productos.</h3>
                <img src="images\prueba1.jpeg" class="head-product-image">
            </div>
        </section>
        <section>
            <p class="intro">Trufas, tabletitas y chocolates tipo Bariloche a elección. Podés elegir las dulzuras que más te gusten, creadas y elaboradas a mano en San Juan, con la mejor materia prima.</p>
                    <div class= "todos-productos">

                        <article class="product">
                            <img src= "images\frambuesa.jpg" alt = "Chocolate con frambuesa" class="product-img">
                            <div class= "product-box">
                                <p class="detalle">Chocolate semi amargo con frambuesas</p>
                                <h4 class="descripcion">TABLETA FRAMBUESAS</h4>
                            </div> 
                        </article>

                        <article class="product">
                            <img src= "images\marroc.jpg" alt = "Marroc" class="product-img">
                            <div class= "product-box"> 
                                <p class="detalle">Chocolate con leche y chocolate blanco con pasta de maní</p>
                                <h4 class="descripcion">MARROC</h4>
                            </div> 
                        </article>

            <article class="product">
                <img src= "images\nuez-ddl-blanco.jpg" alt = "Dulce de leche con nuez" class="product-img">
                <div class= "product-box">
                    <p class="detalle">Pasta de dulce de leche y nueces, entre una capa de chocolate con leche y una capa de chocolate blanco</p>
                    <h4 class="descripcion">DULCE DE LECHE CON NUEZ</h4>
                </div>
            </article>

            <article class="product">
                <img src= "images\almendra.jpg" alt = "Chocolate con almendras" class="product-img">
                <div class= "product-box">
                    <p class="detalle">Chocolate amargo 70% cacao con naranja, jengibre y almendras</p>
                    <h4 class="descripcion">TABLETA ALMENDRA</h4>
                </div>
            </article>

            <article class="product">
                <img src= "images\pistacho.jpg" alt = "Pistacho" class="product-img">
                <div class= "product-box">
                    <p class="detalle">Crema de chocolate blanco con pistachos, entre dos capas de chocolate semi amargo</p>
                    <h4 class="descripcion">PISTACHO</h4>
                </div>
            </article>

            <article class="product">
                <img src= "images\avellanas2.jpg" alt = "Avellanas" class="product-img">
                <div class= "product-box">
                     <p class="detalle">Chocolate amargo con crema de licor de naranja y avellanas tostadas</p>
                    <h4 class="descripcion">AVELLANAS</h4>
                </div>
            </article>

            <article class="product">
                <img src= "images\borrachito.jpg" alt = "Borrachito" class="product-img">
                <div class= "product-box">
                     <p class="detalle">Chocolate semi amargo con crema de ciruelas al Malbec con dulce de leche</p>
                    <h4 class="descripcion">BORRACHITO</h4>
                </div>
            </article>


                    <article class="product">
                        <img src= "images\frambuesa-blanco.jpg" alt = "Chocolate blanco con frambuesa" class="product-img">
                            <div class= "product-box">
                            <p class="detalle">Chocolate blanco con frambuesas y nibs de cacao</p>
                            <h4 class="descripcion">TABLETA FRAMBUESAS CHOCO BLANCO</h4>
                            </div> 
                        </article>

                        <article class="product">
                            <img src= "images\frutos-rojos.jpg" alt = "Frutos rojos" class="product-img">
                                <div class= "product-box">
                                <p class="detalle">Crema de chocolate semi amargo y frutos rojos, entre una capa de chocolate amargo y una de chocolate blanco</p>
                                <h4 class="descripcion">FRUTOS ROJOS</h4>
                                </div> 
                            </article>

                            <article class="product">
                                <img src= "images\trufas\trufa-10.jpg" alt = "Trufa Negra" class="product-img">
                                    <div class= "product-box">
                                    <p class="detalle">Chocolate con leche y café, bañada en chocolate semi amargo</p>
                                    <h4 class="descripcion">TRUFA NEGRA</h4>
                                    </div> 
                                </article>

                                <article class="product">
                                    <img src= "images\trufas\trufaa-6.jpg" alt = "Trufa blanca" class="product-img">
                                        <div class= "product-box">
                                        <p class="detalle">Chocolate blanco y maracuyá</p>
                                        <h4 class="descripcion">TRUFA BLANCA</h4>
                                        </div> 
                                    </article>
                </div>
            </article>
            </div>
        </section>
        <section>
            <section>
    </main>
    <footer class="main-footer">
        <div class="main-footer-top-bar">
            <img src="/images/logo-huara-mix-sinfondo.png" class="logo-huara-footer" alt="logo-huara">
        </div>
    
        <nav class="main-nav-bar">
            <ul class="inside-navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registro">Registro</a></li>
                <li><a href="/carrito">Mis compras</a></li>
                <li><a href="#">Contactanos</i></a></li>
            </ul>
        </nav>
        <div class="icons">
            <i class="fab fa-whatsapp-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fas fa-envelope-square"></i>
        </div>
    
        <article class="copyright">
            <p>Copyright © 2021 Huära Chocolate Andino</p>
        </article>
    
     </footer>
</body>
</html>