<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ffa5e38f99.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Carrito - Huära Chocolates</title>
    </head>
<body>
    <header>
        <div class="box">
            <img src="images\logo-fondo-blanco.png" alt="" class="logo-header">
            <a href="#" class="hamburger">
                <i class="fas fa-align-left"></i>
            </a>
           
            <ul class="nav-bar">
                <li ><i class="fas fa-home"></i><a  href="">    Home</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Mis Compras</a></li>
            </ul>
            <ul class="nav-bar2">
                <li><a href="">Login</a></li>
                <li><a href="">Registrate</a></li>
                
            </ul>
        



        </div>
    </header>

    <main>
        <section>
            <div class="head-carrito">
                <h3 class="titulo-carrito"> Carrito.</h3>
                <img src="images\prueba1.jpeg" class="head-carrito-image">
            </div>
        </section>

        <section>
            <div>
                <article class="article-cart">
                    <a href="#" class="trash-can">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <div class="images-carrito">
                        <img src="images/marroc.jpg" alt="">
                    </div>
                    <div class="precio-cantidad">
                        <h4>Caja Marroc 250gr</h4>
                        <p class="precios"> 6.300,00 $</p>
                    </div>
                </article>
            </div>
        </section>




    </main>







<footer class="main-footer">
    <div class="main-footer-top-bar">
        <img src="/images/logo-huara-mix-sinfondo.png" class="logo-huara-footer" alt="logo-huara">
    </div>

    <nav class="main-nav-bar">
        <ul class="inside-navbar">
            <li><a href="#">Home</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Registro</a></li>
            <li><a href="#">Mis compras</a></li>
            <li><a href="#">Contactanos</i></a></li>
        </ul>
    </nav>
    <div class="icons">
        <i class="fab fa-whatsapp-square"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fas fa-envelope-square"></i>
    </div>

    <article class="copyright">
        <p>Copyright © 2021 Huära Chocolate Andino</p>
    </article>

 </footer>

 </body>
 
</html>