<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ffa5e38f99.js" crossorigin="anonymous"></script>
    <title>Registro - Huära Chocolates</title>
</head>
<body>
    <header>
        <div class="box">
            <img src="images\logo-fondo-blanco.png" alt="" class="logo-header">
            <a href="#" class="hamburger">
                <i class="fas fa-align-left"></i>
            </a>
           
            <ul class="nav-bar">
                <li ><i class="fas fa-home"> </i><a  href="">    Home</a></li>
                <li><i class="fas fa-box"> </i><a href="">   Productos</a></li>
                <li><i class="fas fa-shopping-bag"></i> <a href="">   Mis Compras</a></li>
                <li><i class="fas fa-door-open"></i> <a href="">   Login</a></li>
                <li><i class="fas fa-sign-in-alt"></i> <a href="">   Registrate</a></li>
                
            </ul>
        



        </div>
    </header>
    <main class="login">
        <h2 class="title-login">Creá tu cuenta</h2>
        <section>
            <div>
                <p class="title-login-2">Información personal</p>
            </div>
            <div class="formulario">
            <form action="/register" method="POST">
                <p class="campo">
                <label for="name"class="label">Nombre</label>
                <input type="text" name="name" id="name" class="input">
                </p>
                <p class="observation">* Campo obligatorio</p>
                <p class="campo">
                <label for="lastname" class="label">Apellido</label>
                <input type="text" name="lastname" id="lastname"class="input">
                </p>
                <p class="observation">* Campo obligatorio</p>
                <p>
                <p class="campo">
                <label for="email"class="label">Dirección de correo electrónico</label>
                <input type="email" name="email" id="email" class="input" placeholder="ejemplo@gmail.com" style="font-style:italic; font-size: 12px">
                </p>
                <p class="observation">* Campo obligatorio</p>
                <p class="campo">
                <label for="password" class="label">Contraseña</label>
                <input type="password" name="contrasenia" id="password"class="input" placeholder="Ingresá tu contraseña" style="font-style:italic; font-size: 12px">
                </p>
                <p class="observation">* Campo obligatorio</p>
                <p>
                <p class="campo">
                <label for="birthday" class="label">Fecha de nacimiento</label>
                <input type="date" name="birthday" id="birthday"class="input">
                </p>
                <button type="submit" class="button">GUARDAR</button>
                </p>
            </form>
            </div>
        </section>
    </main>
    <footer class="main-footer">
        <div class="main-footer-top-bar">
            <img src="/images/logo-huara-mix-sinfondo.png" class="logo-huara-footer" alt="logo-huara">
        </div>
    
        <nav class="main-nav-bar">
            <ul class="inside-navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Registro</a></li>
                <li><a href="#">Mis compras</a></li>
                <li><a href="#">Contactanos</i></a></li>
            </ul>
        </nav>
        <div class="icons">
            <i class="fab fa-whatsapp-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fas fa-envelope-square"></i>
        </div>
    
        <article class="copyright">
            <p>Copyright © 2021 Huära Chocolate Andino</p>
        </article>
    
     </footer>
</body>
</html>
    