/*Generales footer*/

.pink{
    color: rgb(255, 196, 217) ;
}

.yellow{
    color: rgb(225, 168, 89) ;
}

.brown{
    color: rgb(167, 100, 66) ;
}


*{
    box-sizing: border-box;
    font-family: nexa-bold;
}
.main-footer{
    background-color: rgb(255, 196, 217);
    text-align: center;
    padding: 5px;
    margin: auto;
    box-sizing: border-box;
}

.logo-huara-footer{
    width: 150px;
    text-align: center;
}

.main-footer-top-bar{
    margin: auto;
    padding: 10px;
}

.main-nav-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav-bar a{
    text-decoration: none;
    color: rgb(114,141,117);
    display: inline-block;
    padding: 5px 0;
    font-size: 16px;
    font-family: nexa-light;
    font-weight: 400;
}

div.icons i{
    font-size: 22px;
    padding: 10px;
}

.copyright{
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 10px;
    color: rgb(114,141,117);
}











