/*Generales footer*/

.pink{
    color: rgb(255, 196, 217) ;
}

.yellow{
    color: rgb(225, 168, 89) ;
}

.brown{
    color: rgb(167, 100, 66) ;
}


*{
    box-sizing: border-box;
    font-family: nexa-bold;
}
.main-footer{
    background-color: rgb(250,212,184);
    text-align: center;
    padding: 5px;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-top: 15px;
}

.logo-huara-footer{
    width: 150px;
    text-align: center;
}

.main-footer-top-bar{
    margin: auto;
    padding: 10px;
}

.main-nav-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav-bar a{
    text-decoration: none;
    color: rgb(114,141,117);
    display: inline-block;
    padding: 5px 0;
    font-size: 16px;
    font-family: nexa-light;
    font-weight: 400;
}

div.icons i{
    font-size: 22px;
    padding: 10px;
}






.contact{
    color: rgb(114,141,117);
    padding: 5px 0;
    font-size: 16px;
    font-family: nexa-light;
    font-weight: 400;

}

div.icons div h3{
    color: rgb(114,141,117);
    padding: 5px 0;
    font-size: 16px;
    font-family: nexa-light;
    font-weight: 400;
    display: none;
}

div.icons{
    display: flex;
    justify-content: center;
}






.copyright{
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 10px;
    color: rgb(114,141,117);
    
}

.copyright p{
    font-family: nexa-light;
}


@media(min-width: 768px){
    .main-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    div.main-footer-top-bar{
        width: 28%;
        margin: 0;
    }
    .contact{
        display: none;
    }

    .contact-block{
        width: 35%;

    }

    nav.main-nav-bar{
        width: 28%;
    }
    ul.inside-navbar{
        justify-content: center;
    }

    div.icons div h3{
        display: block;
    }

    div.icons{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        justify-content: center;
    }

    .info-contact{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .logo-huara-footer{
        width: 200px;
        text-align: center;
    }



}




@media(min-width: 1200px){
    .logo-huara-footer{
        width: 300px;
        text-align: center;
    }

    .contact-block{
        width: 28%;
    }

}














