* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(114, 141, 117);
}

i {
    color: rgb(114, 141, 117);
}

ul {
    list-style-type: none;
}

.box-header {
    position: sticky;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(250, 212, 184);

    justify-content: space-between;
    flex-wrap: wrap;

}

.logo-header {

    display: flex;
    width: 40%;
}

.hamburger-header {
    font-size: 30px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    text-align: center;
    margin: auto;
}

.nav-bar-header {
    display: none;
}



@media (min-width: 360px) {

    .box-header{
        display: flex;
        background-color: rgb(250, 212, 184);


    }

    .logo-header {
        display: flex;
        width: 40%;
    }

    .hamburger-header {
        font-size: 30px;
        border-radius: 8px;
        align-items: center;
        display: flex;
        text-align: center;
        margin: auto;
    }


    .nav-bar-header {
        display: none;

    }

}

@media (min-width: 768px) {
    .box-header {
        display: flex;
        background-color: rgb(250, 212, 184);



    }

    .logo-header {
        display: flex;
        width: 20%;
    }

    .nav-bar-header {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        font-size: 21px;
        flex-wrap: nowrap;
        padding-bottom: 10px;
       align-items: flex-end;
       font-size: 90%;
       transition: all 2s;
    }
.nav-bar-header :hover{
    font-size: 24px;
}

    .hamburger-header {
        display: none;
    }
}
@media (min-width: 950px){
.nav-bar-header{
    font-size: 100%;
}
}