* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(114, 141, 117);
}

i {
    color: rgb(114, 141, 117);
}

ul {
    list-style-type: none;
}

.box {
    position: sticky;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(250, 212, 184);

    justify-content: space-between;
    flex-wrap: wrap;

}

.logo-header {

    display: flex;
    width: 40%;
}

.hamburger {
    font-size: 30px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    text-align: center;
    margin: auto;
}


.nav-bar {
    display: none;
}



@media (min-width: 360px) {

    .box {
        display: flex;
        background-color: rgb(250, 212, 184);


    }

    .logo-header {
        display: flex;
        width: 40%;
    }

    .hamburger {
        font-size: 30px;
        border-radius: 8px;
        align-items: center;
        display: flex;
        text-align: center;
        margin: auto;
    }


    .nav-bar {
        display: none;

    }

}

@media (min-width: 768px) {
    .box {
        display: flex;
        background-color: rgb(250, 212, 184);



    }

    .logo-header {
        display: flex;
        width: 20%;
    }

    .nav-bar {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        font-size: 21px;
        flex-wrap: nowrap;
        padding: 10px;
       align-items: flex-end;
    }

    .nav-item {
        color: rgb(114, 141, 117);
        font-size: 3px;
        width: 50px;
       

    }

    .hamburger {
        display: none;
    }
}