* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
list-style-type: none;
}

.box {
    max-width: 1200xp;
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(255, 196, 217, 0.4);
    border-bottom: solid 1px black;

}

.logo {
    display: flex;
    width: 15%;
}

.hamburger {
    background-color: rgb(255, 196, 217, 0.4);
    color: rgb(167, 100, 66);
    max-width: 40px;
    display: flex;
    font-size: 20px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    border: black 1px dashed;
}


@media (min-width: 360) {

    .box {
        display: flex;
        background-color: rgb(255, 196, 217, 0.4);
        border-bottom: solid 1px black;
        border: black 1px dashed;
    }

    .logo {
        display: flex;
        width: 15%;
    }

    .hamburger {
        background-color: rgb(255, 196, 217, 0.4);
        color: rgb(167, 100, 66);
        max-width: 40px;
        display: flex;
        font-size: 20px;
        padding: 15px 0;
        border-radius: 8px;
        text-align: center;
        border: black 1px dashed;
    }

    .nav-bar {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 16px;
        flex-wrap: nowrap;
        border: black 1px dashed;
    }
}

@media (min-width: 768) {
    .box {
        display: flex;
        background-color: rgb(255, 196, 217, 0.4);
        border-bottom: solid 1px black;
        border: black 1px dashed;
    }

    .logo {
        display: flex;
        width: 15%;
    }

    .nav-bar {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 16px;
        flex-wrap: nowrap;
        border: black 1px dashed;
    }

    .nav-bar2 {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 16px;
        border: black 1px dashed;
    }

    .search-bar {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: flex-end;
        width: 300px;
        height: 15px;
        background-color: #eaeaea;
        border: solid 0.5px black;

    }

    .hamburger {
        background-color: rgb(255, 196, 217, 0.4);
        color: rgb(167, 100, 66);
        max-width: 40px;
        display: flex;
        font-size: 20px;
        padding: 15px 0;
        border-radius: 8px;
        text-align: center;
        border: black 1px dashed;
    }
}