* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(114, 141, 117);
}

ul {
    list-style-type: none;
}

.box {
    position: sticky;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(255, 196, 217, 0.4);
    border-bottom: solid 1px black;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    display: flex;
    width: 15%;
}

.hamburger {
    background-color: rgb(255, 196, 217, 0.4);
    color: rgb(167, 100, 66);
    max-width: 40px;
    font-size: 20px;
    padding: 15px 0;
    border-radius: 8px;
    align-items: center;
}
.nav-bar {
    width: 20%;
    display: none;
    justify-content: center;
    align-items: flex-end;
    font-size: 16px;
    flex-wrap: nowrap;
 
}

.nav-bar2 {
    width: 20%;
    display: none;
    justify-content: center;
    align-items: flex-end;
    font-size: 16px;
 
}



@media (min-width: 360px) {

    .box {
        display: flex;
        background-color: rgb(255, 196, 217, 0.4);
        border-bottom: solid 1px black;
       
    }

    .logo {
        display: flex;
        width: 15%;
    }

    .hamburger {
        background-color: rgb(255, 196, 217, 0.4);
        color: rgb(167, 100, 66);
        max-width: 40px;
        display: flex;
        font-size: 20px;
        padding: 15px 0;
        border-radius: 8px;
        align-items: center;

    }

    .nav-bar {
        width: 20%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        font-size: 16px;
        flex-wrap: nowrap;
     
    }

    .nav-bar2 {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 16px;
       
    }

}

@media (min-width: 768px) {
    .box {
        display: flex;
        background-color: rgb(255, 196, 217, 0.4);
        border-bottom: solid 1px black;
        

    }

    .logo {
        display: flex;
        width: 15%;
    }

    .nav-bar {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 16px;
        flex-wrap: nowrap;
    }
    .nav-item{
        color: rgb(114, 141, 117);
        
    }

    .nav-bar2 {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 16px;
       
    }

    .search-bar {
        width: 25%;
        display: flex;
        align-items: center;
    }

    .searchtext {
        width: 98%;
        border-radius: 6px;
        border-color: transparent;
        color: rgb(114, 141, 117);
        
    }

    .hamburger {
        background-color: rgb(255, 196, 217, 0.4);
        color: rgb(167, 100, 66);
        max-width: 40px;
        display: none;
        font-size: 20px;
        padding: 15px 0;
        border-radius: 8px;
        align-items: center;
    }
}