.banner-home-1 {
    display: block;
    width: 100%;
}

.banner-home-2 {
    width: 100%;
}

.banner-home-3 {
    width: 100%;
}

.banner-home-1 div img{
    width: 100%;
}

.banner-home-2 div img{
    width: 100%;
}

.banner-home-3 div img{
    width: 100%;
}

.banner-izquierda-1 img {
    width: 100%;
}

.banner-derecha-1{
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.banner-derecha-1 h3{
    display: flex;
    font-family: nexa-light;
    font-size: 18px;
    color: #666;
}
.banner-derecha-1 img{
    width: 60%;
}

.banner-home-2 div{
    width: 100%;
}

.banner-home-2{
    width: 100%;
    position: relative;
    text-align: center;
}

.list-banner{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: rgb(77, 77, 77);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.list-banner-2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: rgb(77, 77, 77);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.expand{
    width: 100%;
}

.newsletter{
    background-image: rgba(255, 255, 255, 0.5);
    margin: auto;
}

.email-newsletter{
    margin: auto;
    text-align: center;
}
/*.text-banner-1{
    position: absolute;
    font-size: 100px;
    top: 30px;
    color: white;
    text-align: left;
}*/



@media (min-width: 360px) {
    .list-banner{
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        padding: 5px;
    }
    .list-banner-2{
        top: 70%;
        left: 50%;
        font-size: 40px;
        color: rgb(77, 77, 77);
        padding: 5px;
    }
}

@media (min-width: 768px) {
    .banner-home-1 {
        display: flex;
        justify-content: space-around;
    }

    .banner-home-1 div img{
        width: 80%;
        justify-content: space-around;
    }

    .banner-home-3{
        display: flex;
        flex-wrap: wrap;
    }


    .newsletter{
        background-color: rgba(255, 255, 255, 0.5);
        width: 39%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .img-newsletter{
        width: 55%;
        size: 0.5;
    }
    
    .banner-derecha-1{
        display: flex;
        justify-content: space-around;
        width: 55%;
    }

    .banner-derecha-1 img{
        width: 40%;
    }

    .banner-derecha-1 h3{
        max-height:600px ;
    }
    
    .banner-izquierda{
        width: 100%;
    }
    .banner-home div{
        justify-content: center;
        display: flex;
    }

    .list-banner{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        padding: 15px;
    }
    
    .list-banner-2{
        position: absolute;
        top: 60%;
        left: 50%;
        font-size: 60px;
        padding: 15px;
    }
    /*img.expand {
        position: relative;
        }*/
    }      
/* fondo crema: rgb(250,212,184)
/* fondo rosa: rgb(255,196,217)
/* fondo logo: rgb(240,220,190)


/* gris: rgb(67,69,75)
/* naranja: rgb(255,168,89)
/* marron: rgb(167,100,66)
/* oliva: rgb(198,174,119)
/* verde: rgb(114,141,117)

