.login{
    color: rgb(114,141,117);
   text-align: center;
   width:100%;
   font-family: nexa-light;
   background-color: white;
   margin:0;
}

.title-login{
    padding-top: 30px;
    font-size: 30px;
    color: rgb(114,141,117);
}

.title-login-2{
    font-size: 15px;
    font-style: oblique;
    padding: 15px;
}

.observation{
   
    color: rgb(114,141,117);
    font-size:12px;
    margin-bottom:20px;
    font-family: nexa-light;
    margin-top: 5px;
}

.formulario{
       width: 100%
}

.button{
    color: white;
    color: rgb(114,141,117);
    border-radius: 12px;
    padding: 5px;
    width: 200px;
    border: solid 0.5px rgb(114,141,117);
    font-family: nexa-light;
    margin:5px;
}

.button:hover{
    background-color: rgb(225, 168, 89);
}

   .button2{
       margin-top:0;
   }

   .input{
       display:block;
       margin:auto;
       padding:2px 5px;
       color: rgb(167, 100, 66);
       font-family: nexa-light;
        width: 300px;
        margin-top: 10px;

   }

   .label{
       font-size: 20px;
   }

   