.header {
    height: 150px;
    background-color: #666;

}
.footer {
    height: 150px;
    background-color: #666;

}

main{
    background-color: white;
    margin-top: 15px;
    
}
h3{
    font-size:30px;
    color: white;
    padding: 20px;
}

.descripcion, .precio {
    font-size:16px;
    color: rgb(114,141,117);
    font-family: nexa-light;
}

.detalle{
    font-size:12px;
    color: rgb(114,141,117);
    font-family: nexa-light;
   }

.product-img{
    width:200px;
    height:200px;
    margin:auto;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    
}

.product{
    margin-bottom: 10px;
    background-color: white;
    border-top: solid 2px #2222;
    padding-top: 20px;
    text-align: center;
}



.product-box{
         padding: 5px;
    
}

section{
    width:90%;
    margin:auto;
}
.head-product-image{
    width: 100%;
    opacity: 0.8;
}
.intro{
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color: #666;
    font-family: nexa-light;
    background-color: white;
}

.head-products{
    position:relative;
}

.titulo{
    position:absolute;
    top: 27%;
    left: 25%;
    z-index: 20;
}

@media(min-width: 768px){
    .todos-productos{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .todos-productos article{
        width: 45%;
    }

    .titulo{
        position:absolute;
        top: 40%;
        left: 37%;
        z-index: 20;
        font-size: 40px;
    }

  }

@media(min-width: 1200px){
    .todos-productos article{
        width: 22%;
    }
    .logo{
        width: 200px;
    }
    .titulo{
        position:absolute;
        top: 40%;
        left: 37%;
        z-index: 20;
        font-size: 50px;
    }
}