.header {
    height: 150px;
    background-color: #666;

}
.footer {
    height: 150px;
    background-color: #666;

}

main{
    background-color: white;
       
}


.descripcion, .precio {
    font-size:16px;
    color: rgb(114,141,117);
    font-family: nexa-light;
}

.detalle{
    font-size:12px;
    color: rgb(114,141,117);
    font-family: nexa-light;
   }

.product-img{
    width:200px;
    height:200px;
    margin:auto;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    
}

.product{
    margin-bottom: 10px;
    background-color: white;
    border-top: solid 2px #2222;
    padding-top: 20px;
    text-align: center;
}



.product-box{
         padding: 5px;
    
}

section{
    width:90%;
    margin:auto;
}
.head-product-image{
    width: 100%;
    opacity: 0.8;
}
.intro{
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color: #666;
    font-family: nexa-light;
    background-color: white;
}

.head-products{
    position:relative;
    text-align: center;
}

.titulo{
    position:absolute;
    top: 10px;
    left: 10px;
    z-index: 20;
    letter-spacing: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:30px;
    color: white;
    padding: 20px;
}
 

@media(min-width: 768px){
    .todos-productos{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .todos-productos article{
        width: 45%;
    }


  }

@media(min-width: 1200px){
    .todos-productos article{
        width: 22%;
    }
    .logo{
        width: 200px;
    }
    .titulo{
        font-size:40px;
        
    }
    
}

