

main{
    background-color: white;
       
}

.category-select{
    color: rgb(114,141,117);
    font-size: 12px;
    padding: 3px;
    font-family: nexa-light;
    
}

div.buscar-titulo{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

#titulo{
    width: 300px;
    padding: 5px;
}

button.boton-buscar{
    padding: 5px;
    font-family: nexa-light;
    background-color: white
}

.descripcion, .precio {
    font-size:16px;
    color: rgb(114,141,117);
    font-family: nexa-light;
}

.detalle{
    font-size:12px;
    color: rgb(114,141,117);
    font-family: nexa-light;
   }

.product-img{
    width:200px;
    height:200px;
    margin:auto;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    
    
}

.product-box{
    margin-bottom: 10px;
    background-color: white;
    border-top: solid 2px #2222;
    padding-top: 20px;
    text-align: center;
   
}


section{
    width:90%;
    margin:auto;
}
.head-product-image{
    width: 100%;
    opacity: 0.8;
   
}
.intro{
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color: #666;
    font-family: nexa-light;
    background-color: white;
}

.head-products{
    position:relative;
    text-align: center;
}

.titulo{
    position:absolute;
    top: 10px;
    left: 10px;
    letter-spacing: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:30px;
    color: white;
    padding: 20px;
}

.box-description{
    margin-top: 20px;
        
}

 

@media(min-width: 768px){

    article.product{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .product-box{
        width: 45%;
    }

    div .box-description{
       
        box-sizing:border-box;
        padding: 5px;
       
        
    }

   



}

@media(min-width: 1200px){
    .logo{
        width: 200px;
    }
    .titulo{
        font-size:40px;
        
    }
    article.product{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .product-box{
        width: 22%;
    }
}

