*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.cuerpo-detalle{
    background-image: url('/images/textura-3.png');
    
}
.formulario1{
    border:dotted 8px black 2px;
}



.imagen-detalle{
    width: 80%;
    margin:auto;
    margin-top: 5px;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    object-fit: cover;
    border-radius: 2%;
}

.detail-product-name{
    color:rgb(114,141,117);
    font-family: nexa-light;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
    text-align: center; 
   }

.detail-group{
    display: flex;
    flex-direction: column;
    padding: 20px;
}



.detail-description{
    color:rgb(114,141,117);
    font-family: nexa-light;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;

}

.detail-numbers{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 20px;
    color:rgb(114,141,117);
    
    

}

.detail-price{
    margin-left: 20px;
    color:rgb(240, 100, 149);
    border-left: dotted 2px rgb(240, 100, 149);
    padding-left: 10px;
  
}

.detail-presentacion{
    font-family: nexa-light;
}

.add-to-cart.detalle-bolsa{
    background-color: transparent;
}     

.bolsita{
    text-align: center;
    margin-left: 20px;
    font-size: 30px;
    margin-top: 20px;
}

.bolsita:hover{
    color: rgb(240, 100, 149);
}

.detail-edit{
    margin-top: 20px;
    margin-right: 30px;
    color:rgb(240, 100, 149);
    font-family: nexa-bold;
    font-size: 8px;
    text-align: right;
}

.detail-eliminar{
    color:rgb(240, 100, 149);
    font-size: 8px;
    border: none;
    background-color: transparent;
    border-left: solid 2px rgb(240, 100, 149);
    padding-left: 5px;
    
   }

   .detail-editar{
    color:rgb(240, 100, 149);
   }

   .detail-eliminar:hover{
       color: rgb(114,141,117);
   }

   .detail-editar:hover{
    color: rgb(114,141,117);
   }

   .detail-text{
    
       align-items: center;
       text-align: center;
       
   }
  .formularioedit{
    border:dotted  rgb(114,141,117) 2px;
    border-radius: 20px;
    margin: 100px;
  }

   @media(min-width: 768px){
    .imagen-detalle{
        max-width: 50%;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .detail-product-name{
        color:rgb(114,141,117);
        font-family: nexa-light;
        font-weight: 800;
        font-size: 20px;
        margin-left: 30px;
        margin-top: 20px;
        text-align: center;
       }
    .detail-group{
        display: flex;
        flex-direction: row;
    }
    
    
    .detail-description{
        font-size: 20px;
        margin-top: 20px;
        margin-left: 20px;
    
    }

    .detail-otro{
        max-width: 50%;
    }
    
    .detail-numbers{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 20px;
    }
    
    .detail-price{
        margin-left: 20px;
        padding-left: 10px;
      
    }
          
    
    .bolsita{
        font-size: 20px;
        text-align: center;
        margin: auto;
    }
    
    .add-to-cart.detalle-bolsa{
        padding:0;
        width: 60px;
        display:flex;
    
        
    }
    
    .detail-edit{

        font-size: 10px;
        text-align-last: right;
    }
    
    .detail-eliminar{
        font-size: 10px;
        padding-left: 5px;
       }
   }

   @media(min-width: 1200px){
    .imagen-detalle{
        max-width: 50%;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .detail-product-name{
        font-size: 30px;
              }
    .detail-group{
        display: flex;
        flex-direction: row;
    }
    .detail-otro{
        max-width: 50%;
    }
    
    .detail-description{
        font-size: 30px;
        margin-top: 20px;
        margin-left: 20px;
    
    }
    .bolsita{
        font-size: 50px;
        text-align: center;
        margin: auto;
    }
    
    .detail-numbers{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 25px; 
      
    }
    
    .detail-price{
        margin-left: 20px;
        padding-left: 10px;
      
    }
    
   
    
    
    .detail-edit{

        font-size: 15px;
    }
    
    .detail-eliminar{
        font-size: 15px;
        padding-left: 5px;
       
   }
   
   }