.cuerpo-detalle{
    background-color: white;
};

.detalle-producto-box{
    display: flex;
    flex-direction: row;
};

main section article div p#eliminar-boton{
    height: 54px;
    padding: 0;
    align-items: center;
    background-color: red;
}

a.editar{
    color: red;
}