.login{
   color:rgb(114,141,117);
  text-align: center;
  width:100%;
  background-color: rgb(255, 196, 217);
}

.title-login{
   padding-top: 30px;
   color: rgb(114,141,117);
   font-size: 30px;
   
}

.title-login-2{
   font-size: 15px;
   font-style: oblique;
   padding: 30px;
   font-family: nexa-light;
}

.observation{
   color: rgb(114,141,117);
   font-size:12px;
   margin-bottom:20px;
  }

 
.formulario{
      width: 100%
}

.button{
   color: white;
   background-color: rgb(114,141,117);
   border-radius: 12px;
   padding: 5px;
   width: 200px;
   border: solid 0.5px rgb(114,141,117);
   font-family: nexa-light;
   margin: 20px;
}

.button:hover{
   background-color: rgb(225, 168, 89);
}

  .button2{
      margin-top:0;
  }

  .input{
      display:block;
      margin:auto;
      padding:2px 5px;
      color: rgb(167, 100, 66);
      font-family: nexa-light;
       width: 200px;
       border: none;
       box-shadow: 0px 0px 10px rgb(100,100,100);

  }

  .label{
      font-size: 15px;
  }