.login{
   color:rgb(114,141,117);
  text-align: center;
  width:100%;
  background-color: white  
}

.title-login{
   padding-top: 30px;
   color: rgb(114,141,117);
   font-size: 30px;
   
}

.title-login-2{
   font-size: 15px;
   font-style: oblique;
   padding: 15px;
   font-family: nexa-light;
}

.observation{
   color: rgb(114,141,117);
   font-size:12px;
   margin-bottom:20px;
   font-family: nexa-light;
   margin-top: 5px;
  }

 
.formulario{
      width: 100%
}

.button{
   color: white;
   background-color: rgb(114,141,117);
   border-radius: 12px;
   padding: 5px;
   width: 200px;
   border: solid 0.5px rgb(114,141,117);
   font-family: nexa-light;
   margin:10px;
}

.button:hover{
   background-color: rgb(225, 168, 89);
}

  .button2{
      margin-top:0;
  }

  .input{
      display:block;
      margin:auto;
      padding:5px 5px;
      color: rgb(167, 100, 66);
      font-family: nexa-light;
       width: 300px;
       border: none;
       box-shadow: 0px 0px 10px rgb(100,100,100);
       margin-top: 10px;

  }

  .label{
      font-size: 15px;
   
  }

  .cuadro{
   border:dotted rgb(114,141,117) 2px;
   width:fit-content;
   padding: 10px 15px 10px 15px;
   box-sizing: border-box;
   border-radius: 20px;
   margin-bottom: 15px;
}