@import url(/css/header.css);
@import url(/css/home.css);

@font-face {
    font-family: nexa-bold;
    src: url('/design/NexaBold.otf') format('opentype');
} 

* {
    font-family: nexa-bold;
}


.instagram {
    width: 100%;
    opacity: 0.4;
    
}

.yellow{
    color: rgb(225, 168, 89) ;
}

.brown{
    color: rgb(167, 100, 66) ;
}

.pink{
    color: rgb(255, 196, 217) ;
}