@import url(/css/header.css);

  * {
        font-family: nexa-bold;
    }
 
@font-face {
    font-family: nexa-bold;
    src:    url(/design/NexaBold.otf) format('opentype');
    }

.instagram {
    width: 100%;
    opacity: 0.4;
    
}

.yellow{
    color: rgb(225, 168, 89) ;
}

.brown{
    color: rgb(167, 100, 66) ;
}

.pink{
    color: rgb(255, 196, 217) ;
}