<footer class="main-footer">
    <div class="main-footer-top-bar">
        <img src="/images/logo-huara-mix-sinfondo.png" class="logo-huara-footer" alt="logo-huara">
    </div>

    <nav class="main-nav-bar">
        <ul class="inside-navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/usuarios/login">Login</a></li>
            <li><a href="/usuarios/registro">Registro</a></li>
            <li><a href="/carrito">Carrito</a></li>
        </ul>
    </nav>
    <div class="contact-block">
        <h3 class="contact">Contactanos</h3>
        <div class="icons">
            <div class="info-contact">
                <a href="https://api.whatsapp.com/send?phone=542646259010"><i class="fab fa-whatsapp"></i></a>
                <h3>+54 264 625-9010</h3>
            </div>

            <div class="info-contact">
                <a href="https://www.instagram.com/huarachocolate/"> <i class="fab fa-instagram"></i></a>
                <h3>huarachocolate</h3>
            </div>

            <div class="info-contact">
                <i class="far fa-envelope"></i>
                <h3>huarachocolate@gmail.com</h3> 
            </div>

            <div class="info-contact">
                <i class="fas fa-map-marker-alt"></i>
                <h3>San Juan, Argentina</h3>
            </div>
                          
        </div>
    </div>

</footer>     
