<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <main class="login">
        <h2 class="title-login">¿Ya estás registrado?</h2>
        <section class= "cuadro1">
            <div>
                <p class="title-login-2">Ingresá a tu cuenta</p>
            </div>
            <div class="formulario">
            <form action="/usuarios/login" method="POST">
                <p class="campo">
                <label for="email"class="label">Dirección de correo electrónico</label>
                <input type="email" name="email" id="email" class="input" placeholder="ejemplo@gmail.com" style="font-style:italic; font-size: 12px">
                </p>

                
                <br>   
                <p class="campo pos-rel">
                <label for="password" class="label">Contraseña</label>
                <input type="password" name="contrasenia" id="password"class="input" placeholder="Ingresá tu contraseña" style="font-style:italic; font-size: 12px">
                <span class="fas fa-eye ojo-abierto" id="ojo"></span>   
            </p>
                
                <span style="color: red; font-size: 10px; font-style:italic">
                    <% if (locals.errors && errors.email) { %>
                        <%= errors.email.msg %>  
                    <% } %>
                </span>  
                <br>

                <label>
                    Recordar usuario
                </label>

                <input type="checkbox" name="recordarUsuario">
                <br>
                <br>
                <p>
                <button type="submit" class="button"><span>INGRESAR</span>
                    <svg>
                        <rect x="0" y="0" fill="none"></rect>
                    </svg>
                </button>
                </p>
                <p class="observation">¿Olvidaste tu contraseña?</p>
            </form>
            </div>
        </section>
        <section class="cuadro2">
            <div>
                <p class="title-login-2">¿No tenés cuenta?</p>
                <form>
                    <p>
                        <button type="button" onclick="location.href= '/usuarios/registro'" class="button"><span>CREAR MI CUENTA</span>
                            <svg>
                                <rect x="0" y="0" fill="none"></rect>
                            </svg>
                        </button>
                    </p>
                </form>
            </div>
        </section>
        <script src="/js/ojoPassword.js"></script>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>